/* Inserta tu código aqui */
/**{
	outline: 1px solid red;
}*/
.icono{
	width: 15px;
}
.form-group{
	margin-top: 3px;
}
.list{
	padding: 0;
}
.list li{
	margin: 0;
}
.list_nav li{
	margin-top: 20px;
	display: inline-block;
	list-style: none;
}
.list_nav li a{
	color: black;
	font-weight: bold;
	margin: -20px 15px 40px 0;
}
.list-nav li a{
	color: black;
	font-weight: bold;
	transition:all 0.5s;
}
.list-nav a:hover{
    text-decoration: none;
    background: white;
    transform: scale(1.2)
}
.container_menu {
    background-color:#D8D8D8; 
    height: 90px;
}
.unico{
	border-right: 1px solid black;
}
.menu-nav .list-nav li{
	display: inline-block;
}
.list li{
	display: inline-block;
	padding: 0;
	list-style: none;
}
.fondo{
	background: url(../img/imagenblanca.jpg);
	height: 200px;
}
.list_bloque{
	padding: 0;
}
.list_bloque li {
	list-style: none;
	margin: 0;
}
.cuadro{
	background-color: #D8D8D8;
}
.general li{
	display: inline-block;
	vertical-align: top;
	margin: 0 40px 10px 40px;
}
.general .interno li{
	list-style:none;
	display: inline-block; 
}
.interno {
	padding: 0;
}
.interno li{
	margin: 0;
}
