/* Inserta tu código aqui */
/*{
	outline: 1px solid red;
}¨*/
.icono{
	width: 15px;
}
.form-group{
	margin-top: 3px;
}
.list_nav li{
	margin-top: 20px;
	display: inline-block;
	list-style: none;
}
.list_nav li a{
	color: black;
	font-weight: bold;
	margin: -20px 15px 40px 0;
}
.list-nav li a{
	color: black;
	font-weight: bold;
}
.form-control .btn_btn-default{
	height: 15px;
}
.container_menu {
    background-color:#D8D8D8; 
    height: 90px;
}
.unico{
	border-right: 1px solid black;
}
.menu-nav .list-nav li{
	display: inline-block;
}
.list li{
	display: inline-block;
}
.fondo{
	background: url(../img/imagenblanca.jpg);
	height: 200px;
}
.list_bloque li {
	list-style: none;
	padding: 0;
}
.cuadro{
	background-color: #D8D8D8;
}
